.container {
  padding: 0 2rem;
}

.main {
  @apply 
    min-h-screen  
    px-2 
    flex 
    flex-col 
    flex-1 
    justify-center 
    items-center;
}

.footer {
  @apply flex
    flex-1
    p-2 
    border-t-2
    border-solid 
    border-stone-100 
    justify-center 
    items-center;
}

.footer a {
  @apply
    flex
    justify-center
    items-center
    flex-grow
}

.title a {
  @apply
    no-underline
    text-blue-600;
}

.title a:hover,
.title a:focus,
.title a:active {
  @apply
    underline;
}

.title {
  @apply
    m-0
    leading-tight
    text-7xl;
}

.title,
.description {
  @apply  
    text-center;
}

.description {
  @apply
    m-16
    leading-6
    text-2xl;
}

.code {
  @apply
    bg-slate-100
    rounded-md
    p-3
    text-lg;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  @apply
    flex
    items-center
    justify-center
    flex-wrap
    max-w-3xl;
}

.card {
  @apply
    m-4
    p-6
    text-left
    text-inherit
    no-underline
    border-solid
    border-2
    border-slate-200
    rounded-xl;
    max-width:300px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
